django~=3.2.0       # Django Web 框架
djangorestframework~=3.12.0  # Django REST framework，用于构建 API
requests~=2.25.1    # 发送 HTTP 请求
django-cors-headers~=3.7.0   # Django 跨域资源共享支持
gunicorn~=20.1.0     # Python WSGI HTTP 服务器，用于生产环境部署
psycopg2-binary~=2.9.1  # PostgreSQL 数据库客户端
django-crispy-forms~=1.12.0
django-haystack~=3.1.0
django-simple-captcha~=0.5.15
django-cors-headers~=3.7.0
mysqlclient~=2.1.0   # MySQL 数据库客户端
elasticsearch~=7.15.0  # Elasticsearch Python 客户端